@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-body), system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 滚动条 */
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 10px;
  }
}

body {
  background-color: #f5f5f5;
}
